.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.thread {
  display: flex;
  align-items: center;
}

.thread-container {
  padding: 10px;
}

.thread-input {
  font-size: 25px;
  padding: 5px;
}

.thread-amount {
  width: 55px;
}

.thread-thickness {
  width: 95px;
}

.btn {
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 5px;
}

.add-thread {
  background-color: #14a114;
  color: white;
}

.delete-thread {
  background-color: red;
  color: white;
}

.warning {
  color: red;
}