.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.thread {
  display: flex;
  align-items: center;
}

.thread-container {
  padding: 0.5em;
}

.thread-input {
  font-size: 2em;
  padding: 0.25em;
  border: 1px black solid;
}

.thread-amount {
  width: 1.7em;
}

.thread-thickness {
  width: 3.4em;
}

.btn {
  cursor: pointer;
  width: 1.75em;
  height: 1.75em;
  font-weight: bold;
  font-size: 1.75em;
  border-radius: 25%;
  padding: 0;
  color: white;
}

.add-thread {
  margin-top: 0.5em;
  background-color: #14a114;
}

.delete-thread {
  margin-left: 0.4em;
  background-color: red;
}

.warning {
  color: red;
}